snippet ac
#include <bits/stdc++.h>
using namespace std;
using ll = long long;
using pii = pair<int , int>;
#define debug(x) cerr << #x << "=" << x << endl;


void solve() {
	${0}

}


int main() {
	ios::sync_with_stdio(false);
	cin.tie(nullptr);
	
	solve();

	return 0;

}

endsnippet
